{% extends "home/layout.html" %}

{% block body %}

    <table width="100%" height="60">
        <tbody>
            <tr>
                <td width="210"><h1><a href="/">Home Page</a></h1></td>
                <td valign="top">
                    <table height="57" width="100%" border="0">
                        <tbody>
                            <tr>
                                <td><a href="/blog">Blog</a></td>
                                <td><a href="/michael">Michael</a></td>
                                <td><a href="/seema">Seema</a> </td>
                                <td><a href="/alana">Alana</a> </td>
                                <td><a href="/users">
                                    {% if request.user.username == "" %}
                                        <a href="/users/login">login</a>
                                    {% else %}
                                         <a href="/users">{{ request.user }}</a>
                                    {% endif%}</a></td>
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
        </tbody>
    </table>


<div align="center">
    <h2>This is Our Site!</h2>
    <p>This is where we show off our skills of web design and implementation
    by making an entire website from scratch!</p>
    <h3>Who we are:</h3>
    <img src="" alt="Get Pick of All Three of Us">
    <p>Pictured here is our ambitious group of rad college students.</p>
    <p>This ragtag group decided to go out on a limb and study and implement this website
    on our own during summer 2020.</p>
</div>





{% endblock %}