{% extends "home/layout.html" %}

{% block body %}


<div align="center">
    <h2 >This is Our Site!</h2>
    <p>This is where we show off our skills of web design and implementation
    by making an entire website from scratch!</p>
    <h3>Who we are:</h3>
    {% load static %}
    <img src="{% static 'home/' %}puppy.png" alt="Get Pick of All Three of Us"
    width="50%" height="50%">
    <p>Pictured here is our ambitious group of rad college students.</p>
    <p>This ragtag group decided to go out on a limb and study and implement this website
    on our own during summer 2020.</p>
</div>





{% endblock %}