<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">

        {% load static %}

        {% block header %}
        {% endblock header%}
        <link rel="stylesheet"  href="{% static 'home/' %}stylesheet.css" media="screen"/>
<!--         <link rel="stylesheet"  href="{% static 'home/bootstrap/css/' %}bootstrap.css" media="screen"/>-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




<!--        move this to external doc-->
        <script>
    function showmenu(elmnt)
    {
    document.getElementById(elmnt).style.visibility="visible";
    }
    function hidemenu(elmnt)
    {
    document.getElementById(elmnt).style.visibility="hidden";
    }
</script>

    </head>
    <body >

<!--    copy the table i have in the td for drop down on your pages-->
    <table  class="navbar" width="100%" height="60" border="0">
        <tbody>
            <tr>
                <td  class="nav" align="center"><a href="/"><br>Home Page</a></td>

                <td class="nav" align="middle" ><a  href="/blog"><br>Blog</a></td>

                <td class="nav"align="center" onmouseover="showmenu('michael')" onmouseout="hidemenu('michael')"><a  href="/michael"><br>Michael</a>
                    <table class="menu" id="michael" width="120">
                        <tr><td class="menu" ><a align="center" href="/michael/birthday">Birthday</a></td></tr>
                        <tr><td class="menu"><a align="center" href="/michael/gallery">Gallery</a></td></tr>
                    </table></td>

                <td class="nav"align="center"><a href="/seema"><br>Seema</a> </td>

                <td class="nav"align="center"><a href="/alana"><br>Alana</a> </td>

                <td class="nav"align="center">
                    {% if request.user.username == "" %}
                    <a href="/users/login"><br>Login</a>
                    {% else %}
                    <a href="/users"><br>{{ request.user }}</a>
                    {% endif%}</td>

            </tr>
        </tbody>
    </table>



    <br>
        {% block body %}
        {% endblock %}

<div class = "page-wrapper">

</div>
<!--    footer Here-->
    <div class = "footer">
        <div class="footer-container">
            <div class="left-col">
                <h1 class="wht"> A.S.M.(R)</h1>
                <div class = "social media">
                  <a href="#" class="fa fa-facebook"></a>
                  <a href="#" class="fa fa-twitter"></a>
                  <a href="#" class="fa fa-youtube"></a>
                  <a href="#" class="fa fa-linkedin"></a>
            </div>
            </div>
        <div class = "right-col">
            <h1 class="wht"> Email Us! </h1>
                <div class = "border"></div>
                <a href="mailto:mellison@umd.edu">mellison@umd.edu (Michael)</a>
                <br>
                <a href="mailto:sshaik1@terpmail.umd.edu">sshaik1@umd.edu (Seema)</a>
                <br>
                <a href="mailto:mellison@umd.edu">mellison@umd.edu (Michael)</a>

            </div>


        </div>
    </div>
    </body>
</html>