<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>Our Website!</title>
        {% load static %}


        <link rel="stylesheet"  href="{% static 'home/' %}stylesheet.css" media="screen"/>
    </head>
    <body >

    <table  width="100%" height="60" border="0">
        <tbody>
            <tr>
                <td  class="nav" align="center"><a href="/"><br>Home Page</a></td>
                <td class="nav" align="middle" ><a  href="/blog"><br>Blog</a></td>
                <td class="nav"align="center"><a  href="/michael"><br>Michael</a></td>
                <td class="nav"align="center"><a href="/seema"><br>Seema</a> </td>
                <td class="nav"align="center"><a href="/alana"><br>Alana</a> </td>
                <td class="nav"align="center">
                    {% if request.user.username == "" %}
                    <a href="/users/login"><br>Login</a>
                    {% else %}
                    <a href="/users"><br>{{ request.user }}</a>
                    {% endif%}</td>

            </tr>
        </tbody>
    </table>
    <br>
        {% block body %}
        {% endblock %}
    </body>
</html>