{% extends "home/layout.html" %}

{% block body %}
{% load static %}
<a href="/michael">back</a>
<div align="center">

    <h1>Trust me, I'll fill this up</h1>

<div class="flex-container">


<!--  Copy Paste This for every-->
<!--  or maybe just itterate with python...-->
  <a class="image" href="{% static 'michael/photos/michael.jpeg' %}">
    <div>
      <img src="{% static 'michael/photos/michael.jpeg' %}" style="width:100%;max-width:400px;" alt="Picture of me"/>
      <br><br>
      <p style="width:100%;color:black;">Casie and me in Virgina</p>

    </div>
  </a>




</div>

</div>





{% endblock %}