{% extends "home/layout.html" %}

{% block body %}
{% load static %}
<a href="/michael">back</a>
<div align="center">

    <h1>Trust me, I'll fill this up</h1>

<div class="flex-container">


<!--  Copy Paste This for every-->
<!--  or maybe just itterate with python...-->
  <div><a  href="{% static 'michael/photos/michael.jpeg' %}"><img src="{% static 'michael/photos/michael.jpeg' %}"
     style="width:100%;
    max-width:400px;"
            alt="Picture of me"/></a>
    <br><br>
    <p style="color:black;">Casie and me in Virgina</p>
  </div>




</div>

</div>





{% endblock %}