{% extends "home/layout.html" %}
{% block header %}
 <title>Blog</title>
{% endblock header%}
{% block body %}
    <div align="middle">
         <h1>Blog Posts</h1>
        <ul>
             {% for post in posts %}
            <li><a class="link" href = "{{ post.id }}">{{ post.title }} by {{ post.author }} </a></li>


        {% endfor %}


        </ul>
        <form action="{% url 'index'  %}" method="post">
            {% csrf_token %}
            <h4>Title of Post:</h4>
            {% load widget_tweaks %}
            <p>
            {{ form.title|add_class:"titleArea" }}
            {{ form.title.errors }}
            </p>
            <h4>Content:</h4>
            <p>
            {{ form.message|add_class:"textArea" }}
            {{ form.message.errors }}
            </p>

            <input type="submit">
        </form>

    </div>


{% endblock %}