{% extends "home/layout.html" %}
{% block header %}
 <title>Blog - Posts</title>
{% endblock header%}
{% block body %}
    <a href="/blog"> Back To Posts</a>
    <div align="middle">
        <h1>{{ post.title }}</h1>
        <p>by {{ post.author }}</p>
         <p> {{ post.date }}</p>
        <h4>{{ post.message }}</h4>
        <p></p>
        <h3>Replies:</h3>
        <table class="replytable">
            {% for reply in replies %}

                <tr  style="{% if forloop.counter|divisibleby:2 %}background:#BFD9FF;{% endif %}" >
                    <td class="replyauthor">{{ reply.author }}<br>{{reply.date}}</td>
                    <td class="replydata">{{ reply.message }}</td>
                </tr>
        {% endfor %}
        </table>


        <br> <br> <br> <br> <br> <br>
        {% if message %}
            <p style="color:red;">{{ message }}</p>
        {% endif %}


<!--        cant get any of this to work help-->
        <div style="background:#CFCFCF; width:30%; padding: 10px;border-radius: 25px;" >
            <form action="{% url 'post' post.id %}" method="post" >
                {% csrf_token %}
                {% load widget_tweaks %}
                <br>
                <h4>Enter Reply:</h4>
                <p>
                {{ form.message|add_class:"textArea" }}
                {{ form.message.errors }}
                </p>

            <input type="submit">
            </form>
        </div>

    </div>

{% endblock %}