{% extends "home/layout.html" %}

{% block body %}
<div align="middle">
  <h1>Create Account:</h1>
     {% if message %}
 <p style="color:red;">{{ message }}</p>
    {% endif %}

   <form action= "{% url 'signup' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
       <input type="password" name="passwordCheck" placeholder="Re-Enter Password">
        <input type="submit" value="Create Account">
    </form>
</div>
{% endblock %}