{% extends "home/layout.html" %}
{% block header %}
 <title> {{ request.user }}'s Profile</title>
{% endblock header%}

{% block body %}

 <a href=" {% url 'logout' %}">Log Out</a>

<div>
    <h1>Profile: {{ request.user }}</h1>

     <h3>User Info:</h3>
    <ul>

        <li>Username: {{ request.user.username}}</li>

        <li>Email: {{ request.user.email }}</li>

        <li>First Name: {{ request.user.first_name }}</li>

        <li>Last Name: {{ request.user.last_name }}</li>

        <li>Last Login: {{ request.user.last_login }}</li>

        <li>Date Joined: {{ request.user.date_joined }}</li>

    </ul>
</div>
<br>

{% endblock body %}